:root {
  --font-base: 'Roboto', sans-serif;

  /* Colos */
  --color-primary: #FADC9B;
  --color-secondary: #eeb947;
  --color-logo: #8a6517;
  --color-black-main: #2d2c2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-primary);
  color: var(--color-black-main);
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

header {
  padding: 2em;
}

header h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.085em;
}

header h1  span {
  color: var(--color-logo);
  font-weight: bold;
}

header  p {
  font-weight: 400;
  font-size: .875em;
  text-align: center;
}

.brunch h2,
.drinks h2 {
  font-weight: bold;
  font-size: 1.125em;
  padding: 0.5em 0;
  text-align: center;
  background-color: var(--color-secondary);
  margin-bottom: 1.5em;
}

.card-food {
  margin-bottom: 1em;
}

.card-food .card-title {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-food .card-description {
  font-weight: 400;
  font-size: 0.875em;
  width: 15em;
}

/* Responsive */

@media (max-width: 475px) {

  .brunch,
  .drinks {
    padding: 0.5em;
  }
}
